body {
    background-color: #e8f1fb;
    color: rgb(4, 99, 150);
}

.navbar {
    background-color: rgba(21, 37, 177, 0.6);
}

.logo-placeholder {
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.navbar a {
    transition: 0.3s;
    color: rgba(56, 102, 250, 0.9) !important;
    font-weight: 700;
}

.navbar a:hover {
    color: rgba(122, 159, 220, 0.964) !important;
}

main {
    padding-top: 100px;
}

.jumbotron {
    color: rgb(154, 201, 237);
    background-color: rgba(48, 105, 227, 0.2) !important;
    border-radius: 20px;
}

.jumbotron ul {
    color: rgb(0, 138, 194);
}

.jumbotron h1 {
    color: aliceblue;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(255, 255, 255, 0.9) !important;
    margin-top: 30px;
    border: 1px solid #cce6ff;
}
.card:hover {
    transform: scale(1.03);
    box-shadow: 10px 10px 10px rgba(0, 123, 255, 0.3);
}

.card-title {
    font-weight: bold;
}

section {
    background-color: #c7e3fa;
    padding: 50px 0;
    color: rgb(1, 95, 153);
}

footer {
    background-color: rgba(2, 73, 179, 0.6);
}
