body {
    background: linear-gradient(to bottom right, #003399, #00ccff) !important;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(0, 97, 150);
}

.navbar {
    background-color: rgba(21, 37, 177, 0.6);
}

.navbar img {
    width: 70px;
}

.navbar a {
    transition: 0.3s;
    color: rgba(56, 102, 250, 0.9) !important;
    font-weight: 700;
}

.navbar a:hover {
    color:  #ffdd57 !important;
}

main {
    padding-top: 100px;
}

.jumbotron {
    color: #ffdd57;
    background-color: rgba(75, 130, 248, 0.45) !important;
}

.jumbotron ul {
    color: rgb(0, 225, 255);
}

.jumbotron h1 {
    color: aliceblue
}
.card a {
    color: #ffdd57 !important;
    font-weight: 700;
    text-decoration: none;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(20, 140, 225, 0.831) !important;
    margin-top: 30px;
    color:  #ffdd57;
}
.card:hover {
    transform: scale(1.03);
    box-shadow: 10px 10px 10px rgb(0, 157, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-title {
    font-weight: bold;
}

section {
    background-image: url('');
    padding: 50px 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(1, 144, 221);
}

footer {
    background-color: rgba(2, 73, 179, 0.448);
}
